##ignore this file##
.git/
##*.*
!.gitignore

proj_2012/*
!proj_2012/*.*
proj_2012/*.sdf
!proj_2012/BoostClient/*.*
!proj_2012/BoostClient/client/*

!proj_2012/TestServer/*.*
!proj_2012/TestServer/sever/*
proj_2012/TestServer/*.sdf


!proj_2012/Projects/Socket/*
!proj_2012/Projects/*.*

!proj_2012/script/*.*